img {
  max-width: 100%;
  height: auto;
  border: 3px solid black;
}

.heading 
{
  font-family: 'Permanent Marker', cursive; text-transform: uppercase; 
}

.content
{
  font-family: 'Chivo Mono', monospace; font-size: 18px
}

body 
{
  background-image: url("https://i.ibb.co/NKrMYBL/pexels-miguel-padri-n-255379.jpg");
  /*Temporarily commenting out this element until we sqaure it away*/
  background-color: antiquewhite;
  font-family: 'Chivo Mono', monospace;
}

h1 
{
  color: rgb(240, 235, 235); background-color:rgb(25, 23, 23);text-transform: uppercase; text-align: Center; font-weight: 75;
}

h2 
{
  font-weight: 50; font-style: italic; font-style: italic;text-align: center; border: 2px solid black;
}

p 
{
  font-family: 'Chivo Mono', monospace; font-size: 20px
  border 2px dotted black
}

.byline {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  color: black;
  font-size: 20 px;
  font-weight: 200;
}





